/* Color variable reference: https://github.com/squidfunk/mkdocs-material/blob/master/src/assets/stylesheets/main/_colors.scss */
/* Duke colors reference: https://brand.duke.edu/colors/#brand-colors */
:root > * {
    --md-primary-fg-color:  #012169;
    --md-accent-fg-color:   #E89923;
    --md-footer-fg-color:   #005587;
}

/* https://brand.duke.edu/typography/#official */
/* https://squidfunk.github.io/mkdocs-material/setup/changing-the-fonts/ */
@font-face {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');
}